.form {
  display: flex;
  gap: 20px;
  margin-top: 100px;
  justify-content: center;
}
.form input {
  padding: 10px;
  width: 50%;
}
.add {
  padding: 5px 15px;
  color: white;
  background-color: rgb(67, 213, 67);
  border: none;
}

.todos {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  flex-direction: row;
}
.todos span {
  background-color: #f3eeeea0;
  margin-right: 15px;
  padding: 0 15px;
}

.delete {
  padding: 5px 15px;
  color: white;
  background-color: rgb(182, 64, 64);
  border: none;
}
.done {
  padding: 5px 15px;
  color: white;
  border: none;
  background-color: rgb(144, 141, 141);
  margin-right: 5px;
}
